<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <style>
    body{font-family:Arial;background:#f4f7fb;margin:0}
    .header{background:#0f172a;color:white;padding:20px}
    .menu{padding:30px}
    .btn{
      display:block;
      width:250px;
      padding:15px;
      margin:12px 0;
      background:#2563eb;
      color:white;
      text-decoration:none;
      border-radius:8px;
      text-align:center;
    }
  </style>
</head>
<body>
  <div class="header">
    <h2>College ERP - Admin Dashboard</h2>
    <p>Welcome Admin {{ user }}</p>
  </div>

  <div class="menu">
    <a href="/student" class="btn">Student Management</a>
    <a href="/faculty" class="btn">Faculty Management</a>
    <a href="#" class="btn">Attendance</a>
    <a href="#" class="btn">Marks Management</a>
  </div>
</body>
</html>
